*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    /* border:#b12fad solid; */
}
/* div,section{
    border: 1px solid red;
} */
body{
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   letter-spacing:.3px;
   height: 4000px;
   /* border: solid blue; */
}
.bc{
    background:  #f5f6f7;
}
.container{
    /* border:solid red; */
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.mr{
   margin-right: 20px;
}
.pt{
    padding-top: 25px;
}
.p-header{
    padding:65px 0 40px;
    font-size:40px;
    text-align: center;
    color:#39404a;
}
.p-btn{
    padding:35px 0 60px;
    text-align: center;
}

.relative{
    position: relative;
}
/* i{
    transition: .6s;
} */
.background:hover i{
    background-color: #119744;
    color: #fff;
}
.color{
    transition: .4s;
}
.color:hover{
    color: #119744;
}
.link:hover{
    background-color: #119744;
    color: #fff;
}
.scale{
    overflow: hidden;
}
.scale img{
    vertical-align: middle;
    transition: .5s;
}
.scale:hover img{
    transform: scale(1.05);
}
/* ======================================arrow-up======================= */
.arrow-up i{
    position: fixed;
    bottom:40px;
    right:30px;
    color: #fff;
    background: #119744;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    z-index: 2;
    animation:arrow 2s  infinite -15s linear;
    transition: .5s;

}
@keyframes arrow{
    0%{
      bottom:0px ;
    }
     25%{
        bottom:45px;
      }
    50%{
        bottom:50px;
      }
    75%{
        bottom:45px;
      } 
    100%{
        bottom:0px;
      }
}
/* ----------------------------------------- header top ------------------------------------------- */
.header-top{
    background: #119744;
    padding:10px 0;
    width: 100%;
    color: #fff;
}
/* =============right========= */
.right{
    flex-grow: 1;
}
.right a{
    color:#fff;
    display: inline-block;
    padding:2px 5px;
}
.right .first-select a{
    padding: 0 15px 0 0;
}
.fa-chevron-down{
    font-size: 10px;
}
/* =============right-1========= */
.right-select{
    margin: auto;
}
.right .first-select a{
    border-right: 1px solid rgb(43, 201, 43);
}
/* ============================================header-logo=================================================== */
/*===1=logo=== */
header{
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(219, 197, 197, 0.5);
}
.logo img{
    height:45px;
    margin-right: 50px;
}
/* ===2=user img==== */
.user-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}
.user-img span{
   font-family:'Rubik', sans-serif;
}
/* ===3=search==== */
.search{
 flex-grow: 1;
 margin: 0 50px;
}
.search input{
    width: 100%;
    padding:15px;
    border: none;
    background:  #f5f5f5;
    border-radius:10px;
    border:none;
    outline: none;
}
.search a{
       display: inline-block;
       color: #555555;
       position: absolute;
       right: 2px;
       top:3px;
       width: 40px;
       height: 40px;
       background: #f5f5f5;
       border-radius: 50%;
       line-height: 40px;
       text-align: center;
}
.search input:focus{
  border: 2px solid  green;
}
/* ===4=right-icons==== */
.right-icons i {
     background-color: #f5f5f5;
     color:#555555;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     line-height: 40px;
     text-align: center;
     font-size: 15px;
     transition: .9s;
}
.dot{
    position: absolute;
    top:-11px;
    left: 25px;
    background: #119744;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    line-height: 21px;
    text-align: center;
    border:2px solid #fff;
    font-size: 12px;
}
/* ===4=right-icons===total-price==== */
.total-price {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.total-price span{
    letter-spacing:.3px;
    font-size: 12px;
    color:#39404a;
}
.total-price span:nth-child(2){
    font-weight: bold;
    font-size:15px;
    margin-top: 4px;
}
/* ===4=right-icons===media-bottom==== */
.media-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.418);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: #555555;
    font-size: 12px;
    display: none;
    letter-spacing: .3px;
    z-index: 5;
}
.media-bottom span{
    text-transform: uppercase;
}
.media-bottom i{
    font-size: 15px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.media-bottom .dot{
    top:-15px;
   left:28px;
}
 /* =============================================nav==============================================  */
 .nav{
     justify-content: space-between;
     font-size: 16px;
 }
 .nav-links >li> a{
    padding: 15px 10px 15px 0;
    margin-right:15px; 
    font-weight: 600;
    color: #555555;
    font-family:Arial, Helvetica, sans-serif;
 }
 .email-us p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  margin: 5px 0 7px;
 }
 .email-us {
     padding:20px 0;
 }

 .email-us i{
     font-size: 32px;
     color: #119744;
     margin-right: 10px;
 }
 
 .email-us p span:nth-child(2){
     font-weight: 600;
     color: #555555;
     font-family:Arial, Helvetica, sans-serif;
     margin-top: 6px;
 }
 .email-us>div:first-child{
     margin-right:20px;
 }
 /* ========================================drop-down=================================== */
 .drop-down{
     position: absolute;
     background: #f6eded;
     top:50px;
     left: 0;
     border-radius: 10px;
     width:130px;
     padding:0 20px 20px;
     opacity: 0;
     visibility: hidden;
     transition: .4s;
 }
 .drop-down a{
     display: block;
    color: rgb(73, 67, 67);
    padding-top: 15px;
    
 }
 .drop-down:before{
     position: absolute;
     content: '';
     width: 30px;
     height: 30px; 
     background: #f6eded;
     transform: rotate(45deg);  
     border-radius: 5px;
     top:-7px;
     z-index: -1;
 }
 .home:hover .drop-down{
    opacity: 1;
    visibility:visible;
    z-index: 6;
 }
 /* =======================================section bg1===================================  */
  .bg1{
     width: 100%;
     /* height:500px; */
     background: linear-gradient(to right, rgba(69, 247, 99, 0.33), rgba(255, 195, 208, 0.14));
     padding: 50px 0 60px;
  }
    /* .bg{
     display: flex;
     align-items: center;
    } */
     
 
 .bg1:before{
     content: '';
     position: absolute;
     left: 0; 
     width: 100%;
     height:100%;
     background: url('../images/bg1.png') center/cover;
     opacity: .05;
     z-index: -1;
     /* background-size: cover; */
 }
 /* =======fruits=======img=============== */
 .fruits{
     width: 50%;
     padding-right:20px;
 }
 .fruits img{
     width: 100%;
    /* object-fit: cover; */
 }
  /* ==============second-part=============== */
 .second-part{
     width: 50%;
    padding-left:20px;
 }
 .second-part h1{
    color:#39404a;
    font-size: 50px;
    margin-bottom:20px;
    width: 100%;
   
 }
 .second-part p{
     line-height:1.5;
     font-size: 18px;
     color:  #555555;
     width: 100%;
 }
 .second-part a{
     display: inline-block;
     padding:15px 32px;
     border-radius: 5px;
     font-size: 15px;
     margin-top: 40px;
     text-transform: uppercase;
     font-weight: 600;
     transition: .15s ease-in-out;
 }
 .second-part a:first-child{
     background-color: #119744;
     color: #fff;
     margin-right: 15px;
     border: 2px solid #119744; ;
 }
 .second-part a:nth-child(2){
    background-color: #fff;
    color:#119744; 
 }
 .second-part a>i{
          margin-right: 5px;
 }
 .second-part a:first-child:hover{
    background-color: #fff;
    color:#119744; 
 }
 .second-part a:nth-child(2):hover{
    background-color: #119744;
    color: #fff;
 }
 /* =======================================5-items=================================== */
 .items-5{
     justify-content:space-between;
 }
 .items-5 a{
      width:calc(95% / 5);
 }
 .items-5 a img{
     width: 100%;
     height: 100%;
     border-radius: 8px;
     display: flex;
 }
 .items-5 .overlay{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,.4);
     border-radius: 8px;
 }
    /* a:after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,.5);
     z-index: 7;
 } */
 .items-5 h1{
     font-size: 18px;
     color: rgba(255, 255, 255, 0.829);
     text-align: center;
     position: absolute;
     top: 50%;
     left:50%;
     transform:translate(-50%,-50%);
     z-index: 5;
 }
 .items-5 h1 span{
     display: block;
     font-size: 15px;
     color: rgba(255, 255, 255, 0.671);
     margin-top: 5px;
 }
 .items-5 a:hover .overlay{
    background: rgba(17,151,68,0.9);
 }
 /* =======================================Recently Sold Items=================================== */
 .solid-items{
     /* border:solid green; */
     display: grid;
     grid-template-columns:repeat(5,calc(92%/5));
     grid-template-rows: repeat(2,auto);
     gap:25px calc(8%/4) ;
 }
 .solid-item{
     background: #fff;
     border-radius: 5px;
     padding: 20px;
     border: 1px solid #fff;
 }
 /* =============.solid-items-image============== */
 .solid-items-image{
     width: 100%;
     border-bottom: 1px solid rgba(26, 23, 23, 0.061);
 }
 .solid-items-image img{
     width: 100%;
 }
 .solid-items-image> i{
     position: absolute;
     top: 0;
     right: 0;
     color: #cccccc;
     font-size: 16px;
 }
 .solid-items-image span{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #e86121;
    padding: 3px 5px;
    border-radius:5px;
 }
 /* ============image-icons======== */
 .image-icons{
     text-align: center;
     transition: .5s;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     opacity: 0;
     visibility: hidden;
 }
 .image-icons i{
     color: #fff;
     background-color: #119744;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     border-radius: 5px;
 }
 .image-icons i:not(:last-of-type){
    margin-right: 7px;
 }
 .solid-item:hover .image-icons{
   bottom: 15px;
   opacity: 1;
   visibility: visible;
 }
 /* ================solid-items-second============ */
 .solid-items-second{
     text-align: center;
 }
 /* ===========stars========== */
 .stars i{
     padding:12px 0;
     color:#ffab10;
 }
 .stars i:last-of-type,.stars a{
     color: #555555a2;
     font-weight: 600;
 }
 .solid-items-second .fresh-green h6{
    font-size: 17px;
    padding-bottom: 12px;
 }
 .solid-items-second .fresh-green h6:first-of-type{
    color:#565765df;
 }
 .solid-items-second .fresh-green> h6 del{
         color: rgba(255, 0, 0, 0.719);
         text-decoration: line-through;
         margin-right: 3px;
 }
 .solid-items-second .fresh-green> h6 span{
     color:#119744;
 }
 .solid-items-second .fresh-green> h6 span small{
     font-weight: normal;
     font-size: 12px;
 }
 /* =======solid-items===button======== */
 .solid-items-second .btn{
     border: none;
     width: 100%;
     padding: 12px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     color:#565765;
     transition:1s;
 }
 .solid-items-second .btn i{
     margin-right:5px;
   
 }
 .solid-item:hover .btn{
    background-color: #119744;
    color: #fff;
 }
 .solid-item:hover {
    border: 1px solid #119744;
 }
 /* ===================================================bg2========================================= */
 /* ============link=========== */
 .show a{
     display: inline-block;
    padding:15px 32px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s ease-in-out;
    background-color: #fff;
    color:#119744; 
    border: 2px solid #119744; 
 }
 .show a i{
     margin-right:3px;
 }
 /* =============bg2============= */
 .bg2 {
     width: 100%;
     border-radius:8px;
 }
 .bg2 img{
     width: 100%;
     border-radius:8px;
     display: flex;
 }
 /* =======================================Our Featured Items===================================   */
 .featured-items{
    /* border:solid green; */
    display: grid;
    grid-template-columns:repeat(2,calc(98%/2));
    /* grid-template-rows: repeat(3,auto); */
    gap:25px 2% ;
}
.featured-items .flex{
    align-items: start;
}
.featured-items .solid-item{
    padding:20px 20px 10px;
}
/* =============.solid-items-image============== */
.featured-items .solid-items-image{
    width:220px;
    border-bottom: none;
}
.featured-items .solid-items-image span{
    background-color: #b12fad;
}
/* ================solid-items-second============ */
.featured-items .solid-items-second{
    border-left: 1px solid rgba(26, 23, 23, 0.061);
    margin-left: 20px;
    padding-left:  20px;
    width: calc(100% - 240px);/* 220 width img w 20px margin-left ly solid-items-second*/ 
    text-align: left;
}
.featured-items .solid-items-second p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  line-height: 21px;
  margin: 15px 0;
  color:#565765c5;
}
.featured-items .solid-items-second .fresh-green h6{
    padding-bottom: 0;
 }
 /* --==============================================bg3=====================================   */
 .bg3{
     background:linear-gradient(to left,#c3ffda, #a1f3c0);
     width: 100%;
     padding: 50px 0 60px;
 }
 .bg3 .flex{
     justify-content: space-between;
 }
 .bg3 .second-part{
     text-align: center;
     width: 47%;
 }
 .bg3 .fruits{
    width: 47%;
 }
 .bg3 .second-part h1{
     font-size:39px;
     letter-spacing: normal;
 }
 /* ===========sale========== */
 .sale{
     position: absolute;
     top: 0;
     left: 0;
     width: 120px;
     height: 120px;
     text-align: center;
     background-color: #ff3838;
     border-radius: 50%;
     display: flex;
    flex-direction: column;
    place-content: center;
     
 }
 .sale span{
     color:#fff;
     font-size: 26px;
     text-transform: uppercase;
 }
 .bg3 .fruits{
     padding-right: 0;
 }
 .bg3 .second-part{
     padding-left: 0;
 }
 /* - ======================================Collected New Items=============================== - */
 .collected-new-items .solid-items-image span{
     background: #119744;
 }
 /* -- ====================================two-images========================================= - */
 .two-image{
     display: grid;
     grid-template-columns:repeat(2,calc(97%/2)) ;
     justify-content: space-between;
 }
 .two-image img{
     width: 100%;
 }
 /* - ===========================ul=========Browse By Top Niche========================================= - */
.top-order{
   justify-content: center;
}
.top-order{
    background-color: #fff;
    padding:25px 10px;
    border-radius: 5px;
}
.top-order li{
    padding: 5px 20px;
}
.top-order li:not(:last-child){
    border-right: 1px solid rgba(170, 170, 170, 0.418);

}
.top-order li a{
color:#565765;
font-weight: 600;
font-size: 15px;
letter-spacing: normal;
}
.top-order li:first-child a{
    color: #119744;
}
.top-order li i{
    margin-right: 5px;
}
/* - ======================out of stock==============Browse By Top Niche========================================= - */
.browse .solid-items-image span{
    background-color:#1494a9;
}
.browse .solid-items .solid-item:nth-child(7):after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* z-index: 1; */
}
.browse .solid-items .solid-item:nth-child(7):before{
    content: 'out of stock';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding:15px 0;
    background: rgba(224,152,22,0.8);
}
/* - ======================================Shop By Brands========================================= - */
.shop{
    width: 100%;
   justify-content: space-between;
   padding-top:15px;
}
.shop-item{
    text-align: center;
    width: calc(100%/5);
}

/* =============shop-image================ */
.shop .shop-image{
    width: 70%;
    z-index:1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop .shop-image img{
    width: 100%;
    border-radius: 50%;
  
}
.shop-image:before{
    content:'';
    position: absolute;
    background-color: #fff;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    z-index:-1;
    border:3px dashed rgba(0, 0, 0, 0.164);
    width: 100%;
    height:100%;
    border-radius: 50%;
    padding: 10px;
    /* animation:rotate 1.2s infinite  linear; */
}

@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
.shop-item:hover .shop-image:before{
    animation: rotate 2s infinite linear;
    border:3px dashed rgba(55, 148, 32, 0.877);
     /* transform: rotate(360deg);  */
}

/* =============shop-overlay================ */
.shop-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
   justify-content: center;
   align-items: center;
   transform: scale(0);
   transition: .7s;
}
.shop-overlay i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #119744;
    color: #fff;
    border-radius: 50%;
    transition: .4s;
   
}
.shop-item:hover .shop-overlay{
    transform: scale(1);
}
.shop-overlay i:hover {
    background-color: #fff;
    color: #119744;
}
/* =============shop-information================ */
.shop-information h4{
padding:22px 0 10px;
font-size: 20px;
color: #565765;
}
.shop-information p{
    color: #090a14c4;
    font-size: 17px;

}
/* -- ======================================Client's Feedback========================================= - */
.feedback{
    overflow: hidden;
    gap: 30px;
    padding-bottom: 30px;
}
/* .feedback div:nth-child(1),.feedback div:nth-child(3){
transform: scaley(.6);
opacity: .3;
width: 30%;
} */
.feedback div:nth-child(2){
    transform: scaley(.6);
    opacity: .3;
    width: 60%;
}
.feedback div{
    flex-shrink: 0;
}
.feedback div:nth-child(1){
    width:60%;
 
}
/* ======.feedback-item==== */
.feedback-item{
    background-color: #119744;
    color: #fff;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}
.feedback-item>i{
    font-size:45px;
}
.feedback-item>h5{
    font-size: 18px;
}
.feedback-item ul{
    justify-content: center;
}
.feedback-item ul i{
    color:#ffab10;
    margin: 8px 0 12px;
}
/* ======.feedback-image==== */
.feedback-image{
border-radius: 50%;
width: 80px;
border: 5px solid #fff;
position: absolute;
left: 50%;
transform: translatex(-50%);
}
.feedback p{
margin: 20px 0;
font-size: 22px;
text-transform: lowercase;
}
/* -- =====================================Read Our Articles========================================= -- */
.articles{
    gap:calc(5%/2);
}
.article-item{
    width: calc(95%/3);
}
/* =====article-image==== */
.article-image{
    border-radius: 8px;
}
.article-image img{
width: 100%;
border-radius: 8px;
}
/*====== article-ul=== */
.article-item ul{
    padding: 15px 0;
}
.article-item ul li:first-child{
    margin-right: 30px;
}
.article-item ul i{
    color: #119744;
    padding: 8px;

}
.article-item ul span{
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.897);
}
/*======article-information === */
.article-information{
    padding-left: 8px;
}
.article-information h4 a{
    font-size: 22px;
    color:#39404a;
    text-transform: lowercase;
}
.article-information p{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.609);
    margin: 18px 0;
    text-transform: lowercase;
}
.article-information >a{
    color: #119744;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.article-information >a i{
    margin-left: 5px;
}
/* - ======================================Shop By Brands========================================= -- */
.bg4{
    background: url(../images/bg4.jpg) no-repeat center /cover ;
    /* background-size: cover; */
    width: 100%;
    padding: 70px 0;
}
.bg4:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(6,23,56,0.8), rgba(17,151,68,0.8));
}
 /* -- ===============.bg4-content=================== */
.bg4-content{
    justify-content: space-between;
    font-size: 22px;
    gap:20px
}
/* -- ===============discount=============== */
.bg4-content .discount{
    color: #fff;
    z-index: 1;
    width: 50%;
  
}
.bg4-content .discount p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
/* -- ===========form========== */
.bg4-content .form{
    z-index: 1;
    display: flex;
    border-radius: 8px;
    width:43%;
    padding:6px;
    background-color: #fff;
}
.bg4-content .form input{
    width: 100%;
    padding: 0 20px ;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size:15px;
}
.bg4-content .form button{
    background: #119744;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size:14px;
    display: flex;
    place-content: center;
    place-items: center;
    cursor: pointer;
    font-weight: 600;
    width: 250px;
    padding: 15px 20px;
}
.bg4-content .form button span{
    text-transform: uppercase;
}
.bg4-content .form button i{
    margin-right:4px;
}
/* -- ======================================4-icons======================================== - */
.icons-bg{
    background-color: #f8fffa;
}
.four-icons{
    padding:50px 0;
    align-items: flex-start;
}
.icon-item{
    align-items: start;
    width: calc(100%/4);
    padding: 0 10px;
}
.four-icons .icon-item i{
    color:#119744;
    border: 3px double #119744;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:14px;
}
.icon-information h5{
    font-size: 17px;
    margin-bottom: 8px;
    color:#39404a;
}
.icon-information p{
    font-size: 15px;
    color: #555555;
    text-transform: lowercase;
}
/* -- =================================================footer======================================= - */
.footer a,.footer span,.footer p{
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
}
.footer p{
    text-transform: lowercase;
}
.footer h3{
    color: #39404a;
    font-size: 24px;
    margin-bottom: 25px;
}
.footer-four{
    display: grid;
    grid-template-columns: repeat(4,calc(100%/4));
    /* gap: calc(10%/3); */
    padding: 40px 0;

}
.footer-four>div{
    padding: 0 11px;
}
/* ==========footer1=========== */
 .footer1 img{
    width: 180px;   
}
 .footer1 p{
     padding: 16px 0 20px;
 } 
 .footer1 ul li a i{
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     background-color: #fff;
     border-radius: 50%;
     color: #119744;
     margin-right: 7px;
 }
 /* ==========footer2=========== */
 .footer2 li:not(:last-child),.footer3 li:not(:last-child){
    padding-bottom: 18px;
 }
 .footer2 i{
    font-size: 28px;
    color: #119744;
    margin-right:15px;
 }
 .footer2 p{
    text-transform: capitalize;
 }
 .footer2 p span{
     display: block;
 }
/* ==========footer3=========== */
.footer-links {
    align-items: flex-start;
    gap: 50px;
}
.footer3 a:hover{
    text-decoration: underline;
}
/* ==========footer4=========== */
.footer4-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    padding-top: 27px;
}
.footer4-grid img{
    width: 100%;
}
/* ============green-footer========= */
.green-footer{
    justify-content: space-between;
    background:#119744;
    padding: 20px 35px 15px;
    border-radius: 8px 8px 0 0;
   
}
.green-footer p{
    color: #fff;
    font-size: 15px;
}
.green-footer-images img{
    width: 50px;
    border-radius:3px;
    margin-right: 5px;
}